<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponent from "./components/CalComponent.vue";
</script>

<template>
  <div>
    <CalComponent />
  </div>
</template>

<style scoped></style>
